.todo-modal {
    border: 1px solid blue;
    border-radius: 6px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    padding: 20px 10px;

    .todo-header {
        background-color: rgb(255, 240, 240);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 10px;
        border-radius: 6px;

        .todo-title {
            color: rgb(73, 73, 73);
        }

        .todo-close {
            cursor: pointer;
        }
    }

    .todo-body {
        padding: 10px;
    }

    .todo-footer {
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}