.dropdown {
    position: relative;


    .dropdown-content {
        display: none;
        position: absolute;
        background-color: white;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 99;
        border-radius: 6px;
        padding: 4px;

        .item {
            padding: 10px;
            z-index: 99;

            &:hover {
                background-color: blue;
                color: white;
                border-radius: 6px;
                cursor: pointer;
            }
        }
    }

    &:hover .dropdown-content {
        display: flex;
    }






}